<p-panel header="Pipes numéricos" class="py-2">
  <p>Pipes incluídos en Angular - Usualmente en el Common Module</p>
</p-panel>


<div class="grid">
  <div class="col-12 md:col-4 ">
    <p-card header="Ventas netas">
      {{ totalSells | number: '1.2-2' }}
    </p-card>
  </div>
  <div class="col-12 md:col-4 ">
    <p-card header="Ventas brutas">
      {{ totalSells | currency: 'ARS': '' }}
    </p-card>
  </div>
  <div class="col-12 md:col-4 ">
    <p-card header="Ganacias">
      {{ percennt | percent: '1.2-2' }}
    </p-card>
  </div>
</div>
